# Copy this file to './.env' and plug in your own custom keys and values for development.

RECAPTCHA_PUBLIC_KEY=asdf
RECAPTCHA_PRIVATE_KEY=asdf

AMAZON_ACCESS_KEY_ID=asdf
AMAZON_SECRET_ACCESS_KEY=asdf

TWITTER_CONSUMER_KEY=asdasd
TWITTER_CONSUMER_SECRET=asdasdas
TWITTER_ACCESS_TOKEN=adasaaa
TWITTER_ACCESS_SECRET=asdasdas