#header { border-bottom-color: #A7CAE0; }
#header h1 a { font-family: Arial, sans-serif; color: #5271A8; }
#header h1 span { color: #333; font-size: 60%; margin-left: 7px;}
#header #stuff { right: 32px;}
#content { padding-right: 300px; }
#sidebar { width: 270px; }
#sidebar h3 { border-bottom: 8px solid #A7CAE0; }
#sidebar .center { text-align: center; }
#sidebar a img { padding-right: 8px; }
.rubyred { color: #232529; }
.post { border-top: 1px dotted #ccc; border-bottom: 1px dotted #ddd; padding-bottom: 5px; }
h2.title { margin-top: 5px;}
h2.title a { background: #eee; color: #000; text-decoration: none; padding: 3px; }
h2.title a:hover { color:#97BED9; }
a { color: #2266bb; }
a:hover { color: #232529; }
.entry a:visited { text-decoration: none; }