#header { border-bottom-color: #97BED9; }
#header h1 a { color: #5271A8; }
#header h1 span { color: #333; font-size: 60%; margin-left: 15px;}
.rubyred { color: #232529; }

a { color: #2266bb; }
a:hover { color: #232529; }
.entry a:visited { text-decoration: none; }