/* @group RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* @end */

/* @group Main */

.formatting-help td.code {
  font-family: Monaco, "Courier New", monospace;
  font-size: 10pt;
}  

.formatting-help td { padding: 5px; }

body {
  margin: 0px 0px 20px 0px;
  text-align: left;
  font: normal 14px Arial, sans-serif;
  line-height: 1.5em;
  color: #111;
  background-color: #fff;
}

h1, h2, h3, h4 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 8px 0px 14px 0px;
}

h1 { font-size: 2.2em; }
h1 a { color: #c00; }
h2 { font-size: 1.9em; line-height: 1.35em; margin-top: 20px; margin-bottom: 0px; }
h2.title { margin-top: 5px; }
h2.title a { 
  background: #eee;
  color: #000;
  text-decoration: none;
  padding: 3px;
}
h2.title a:hover { color:#97BED9; }

h3 { font-size: 1.2em; }
h4 { font-size: 1.0em; }

body.homepage .post h2 {
  margin-bottom: 0px;
  font-size: 1.6em;
}

a { color: #2266bb; }
a:hover { color: #232529; }
p { margin: 16px 0px; }
ul, ol { padding-left: 1.9em; }
ul { list-style-type: disc; }
ul { list-style-type: decimal; }
li { list-style-position: outside; }
strong { font-weight: bold; }
small { font-size: 0.8em; }
em { font-style: italic; }
a.home { text-decoration: none; }

/* @end */

/* @group Blocks */

#content {
  padding-left: 0px;
  padding-right: 300px;
  margin-top: 18px;
}

.post {
  margin-left: 2em;
  margin-bottom: 1.4em;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ddd;
  padding-bottom: 5px;
}

.post a { font-weight: bold; }

.post .entry { margin-left: 1em; }
.post .entry a:visited { text-decoration: none; }
body.inner .entry { line-height: 1.6em; }

#header {
  margin-top: 0px;
  height: 36px;
  background-color: #eee;
  border-bottom: 14px solid #c00;
  margin-bottom: 12px;
  border-bottom-color: #A7CAE0;
}

#header #stuff {
  position: absolute;
  top: 8px;
  right: 32px;
}

#header H1 {
  color: #c00;
  font-size: 32px;
  letter-spacing: -1px;
  position: absolute;
  top: 1px;
  left:  18px;
}

#header h1 a { 
  font-family: Arial, sans-serif;
  color: #5271A8;
}

#header h1 span { 
  color: #333; 
  font-size: 60%; 
  margin-left: 7px;
}

#sidebar {
  position: absolute;
  width: 270px;
  right: 10px;
  top: 0px;
  padding: 0px 0px 0px 0px;
  font-size: 0.9em;
  line-height: 1.5em;
}

#sidebar h3 { border-bottom: 8px solid #A7CAE0; }
#sidebar .center { text-align: center; }
#sidebar a img { padding-right: 8px; }

#page {
  position: relative;
  margin: 0px 20px;
}

blockquote {
  background-color: #def;
  padding: 10px;
  margin: 2em 1em;
  position: relative;  
}

code {
	font-family: "Liberation Mono", Monaco, "Courier New", monospace;
	font-size: 13px;
}

.date {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

body.inner .date {
  font-size: 14px;
  color: #999;
}

.pagination { height: 24px; }
.pagination .prev_page { float: left; }
.pagination .next_page { float: right; }

.pagination A {
  color: #888;
  font-family: verdana;
  font-size: 12px;
}

.pagination .disabled { display: none; }

blockquote span.a, blockquote span.b {  font-family: helvetica, arial; font-size: 50px; color: #8ac; }

blockquote span.a {position:absolute;top:0px;left:-10px; }
blockquote span.b {position:absolute;bottom:-20px;right:0px; height: 20px; }

blockquote.yellow { background-color: #fe7; }
blockquote.yellow span.a, blockquote.yellow span.b { color: #dc5; }

blockquote.green { background-color: #df7; }
blockquote.green span.a, blockquote.green span.b { color: #cd5; }

blockquote.comment { background-color: #f0f0f0; }
blockquote.comment span.a, blockquote.comment span.b { color: #ddd; }

blockquote.usercomment { background-color: #def; }
blockquote.usercomment span.a, blockquote.usercomment span.b { color: #8ac; }

blockquote cite {
  display: block;
  text-align: right;
}

/* @end */

/* @group Content */

#content .metadata {
  color: #999;
  margin: 0px; margin-top: 0px;
  border-top: 0px solid #ccc;
  padding-bottom: 0px;
  line-height: 17px;  
}

#content .item-changes {
  margin: -1.4em 0 1.4em 2em;
  color: #999;
}

#content .item-changes P {
  font-size: 11px;
  margin: 0;
  padding: 0;
}

#content .metadata, blockquote cit, #content .item-changes P {
  font-size: 11px;
  font-family: verdana, arial, sans-serif; 
}

.comments_link { color: #666 !important; }

#comments {
  margin-top: 18px;
  padding-left: 2em;
}

#comments H3 {
  color: #44689b;
  margin-top: 0.8em;
}

#comments A:hover { color: #ff0000; }

#content .metadata a, blockquote cite a { color: #888; }

/* @end */


/* @group Fixes */
.floatcontainer:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
    }
	
.floatcontainer { display: inline-block; clear: both;}
.float { clear: both; }

* html #content { height: 1%; }

#preview {
  background: #FFF;
  border: 1px solid #ccc;
}

#preview .entry {
  margin-top: 18px;
  padding-left: 2em;
}
/* @end */

/* @group Misc */

p.message {
  background-color: #eee;
  padding: 8px;
  border: 1px solid #999;
  margin-bottom: 14px;
}

.rubyred {
  font-weight: bold;
  color: #232529;
}

#comments textarea { width: 500px; height: 220px; }

#captcha_display sup { display: none; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#captcha_display {
  background-color: #5271A8;
  color: #fff;
  font-size: 24px;
  padding: 12px;
  width: 280px;
  height: 24px;
  border: 1px solid #000;
  text-align: center;
  letter-spacing: 5px;
}

.title { 
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}

.description {
  font-style: italic;
  font-weight: normal;
  font-size: 90%;
}

.hint {
  font-style: italic;
  font-weight: normal;
  font-size: 90%;
  color: #666;
}

.admin-actions {
  position: absolute;
  top: 12px;
  right: 12px;
}

/* @end */