<p>Hi - We were just asked to reset your password. No need to panic if you didn't request this.</p>

<p>If you <strong>did</strong> request a password reset, just follow or copy and paste the URL below:</p>

<%= recovery_users_url(:reset_token => @user.password_reset_token, :host => configatron.site_url) %>