- title "Reset Password"

= form_tag send_reset_password_users_path do
  %fieldset
    .clearfix
      = label_tag :email, "Email:"
      .input
        = text_field_tag :email, '', class: 'xlarge', autofocus: true
    .actions
      %button.btn.primary Send Password Reset Email