<div class="items">
  <%- @items.each do |item| -%>
    <% if should_display_date? @last_date, item %>
      <h2 class="date"><%= item.created_at.strftime("%B %d, %Y") %></h2>
      <% @last_date = item.created_at %>
    <% end %>

    <%= render :partial => 'item', :locals => { :item => item } -%>
  <% end %>
</div>

<%= will_paginate @items %>
