.items
  - @items.each do |item|
    - if should_display_date? @last_date, item
      %h2= item.created_at.strftime("%B %d, %Y")
      - @last_date = item.created_at
    = render :partial => "items/item", :locals => {:item => item}

= will_paginate @items