@mixin clearfix {
  zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    zoom: 1;
  }
  &:after {
    clear: both;
  }
}

@mixin fixed_height($hgt) {
  min-height: $hgt;
  height: $hgt;
  max-height: $hgt;
}

@mixin fixed_width($wdt) {
  min-width: $wdt;
  width: $wdt;
  max-width: $wdt;
}

body {
  padding-top: 60px!important;
}

.span11 .xxlarge {
  width: 490px!important;
}

.topbar-inner, .topbar .fill {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .2)), color-stop(0.02, transparent), color-stop(0.97, transparent), to(rgba(0, 0, 0, .45))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, .2)), color-stop(0.002, transparent), color-stop(0.998, transparent), to(rgba(0, 0, 0, .2))),-webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5E5E5E), color-stop(0.51, #707070), to(gray)) !important;

  li a {
    color: white;
  }
}

.post {
  .entry {
    @include clearfix;
     img {
      float: left;
      padding: 0 5px 5px 0;
    }
  }
}

.brand img {
  vertical-align: top;
}

#image_list {
  @include fixed_height(200px);
  @include fixed_width(498px);
  border: solid 1px #ccc;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  
  li {
    display: none;
    @include fixed_height(200px);
    @include fixed_width(498px);
    text-align: center;
    &.current {
      display: block;
    }
  }
  
  img {
    max-width: 400px;
    height: auto;
  }
}