.center
  = link_to(image_tag('rss.png', alt: "RSS Feed"), site_config.rss_url, title: "Subscribe to Feed")
  = link_to(image_tag('twitter.png', alt: "Twitter Feed"), site_config.twitter_url, title: "Follow on Twitter")

= raw configatron.sidebar