<div class="center">
  <a href="http://feeds.feedburner.com/cappuccinoflow" title="Subscribe to RSS">
    <img src="/images/rss.png" width="65px" height="65px" alt="RSS Feed" />
  </a>
  <a href="http://twitter.com/cappuccinoflow" title="Follow On Twitter">
    <img src="/images/twitter.png" width="65px" height="65px" alt="Twitter Feed" />
  </a>
</div>
<h3>What?</h3>
<p>CappuccinoFlow is a community driven <a href="http://www.cappuccino.org">Cappuccino</a> link blog. Posts are by members of the community — like you!</p>
<h3>How?</h3>
<p>Enjoy the links, comment, or <a href="/items/new">make a post</a> of your own. You don&#8217;t need to be signed in!</p>
<p><em>Note: Only posts by registered members with 1 previously good post make it into the <a href="http://feeds.feedburner.com/cappuccinoflow"><span class="caps">RSS</span></a> and <a href="http://twitter.com/cappuccinoflow">Twitter</a> feeds.</em></p>
<h3>Who?</h3>
<p>CappuccinoFlow is a fork of RubyFlow (built by <a href="http://peterc.org/">Peter Cooper</a>). It is maintained by <a href="http://jerodsanto.net/">Jerod Santo</a>, but is ultimately a community site. <a href="http://github.com/sant0sk1/cappuccinoflow/">Contributions are welcome</a></p>